/* CONTACT.CSS */

.contact-title {
    font-weight: 100;
    font-size: 32pt;
    margin-bottom: 26pt;
}

.field {
    width: 50%;
    max-width: 500px;
    margin: 10pt 0;
    padding: 10pt 10pt;
    border-radius: 5pt;
    border: solid 1pt #eee;;
    font-size: 12pt;
    color: #eee;
    background-color: transparent;
}

.button {
    margin-top: 10pt;
    width: 52.5%;
    max-width: 528px;
}
